[
    {
        rabbit,
        [
            {default_user, <<"{default_user}">>},
            {default_pass, <<"{default_pass}">>},
            {tcp_listeners, [{"0.0.0.0", 5672}]}
        ]
    },
    {
        rabbitmq_web_stomp,
        [
            {
                ssl_config,
                [
                    {port,       15671},
                    {backlog,    1024},
                    {certfile,   "/etc/rabbitmq/certs/cert.pem"},
                    {keyfile,    "/etc/rabbitmq/certs/key.pem"},
                    {cacertfile, "/etc/rabbitmq/certs/cacert.pem"},
                    {password,   ""}
                ]
            },
            {tcp_config, [{port, 15674}]}
        ]
    }
].
